.edit{
    width: 500px;
    height: 500px;
    background: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}
.showClass{
    display: none;
    transition: 5s ease-in;
}